@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

:root {
    /* Standardfärger */
    --clr-primary: #6366f1;
    --clr-white: #FFF;

    --clr-gray-100: #f3f6ff;
    --clr-gray-200: #eff2fc;
    --clr-gray-300: #e2e5f1;
    --clr-gray-400: #d4d7e5;
    --clr-gray-500: #b4b7c9;
    --clr-gray-600: #9397ad;
    --clr-gray-700: #565973;
    --clr-gray-800: #33354d;
    --clr-gray-900: #0b0f19;

    --font-weight-extralight: 200;
    --font-weight-light: calc(var(--font-weight-extralight) + 100);
    --font-weight-regular: calc(var(--font-weight-light) + 100);
    --font-weight-medium: calc(var(--font-weight-regular) + 100);
    --font-weight-semibold: calc(var(--font-weight-medium) + 100);
    --font-weight-bold: calc(var(--font-weight-semibold) + 100);
    --font-weight-extrabold: calc(var(--font-weight-bold) + 100);
}
*,
*::after,
*::before {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
body, header, nav, main, div, section, span {
    margin: 0;
    padding: 0;
    font-family: "Manrope", sans-serif;
    background-color: var(--clr-gray-800);
    color: var(--clr-gray-200)
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: var(--clr-gray-800);
  flex-direction: column;
  height: 100vh;
  width: 400px;
}
.header{
    width: 100%;
}
.kvalitet{
    text-align: left;
}
.arbetsmiljo{
    text-align: right;
}